/* HTML body layout */
.text{
    color: #4c4c4c; font-family: 'Lato', sans-serif; font-size: 40px; font-weight: 200; line-height: 58px; margin: 0 0 20px;
}
html {
    background-color: white;
    /* aligning the everything in the center of the body:*/
    display: grid;
    justify-items: center;
}
.all {
    display: grid;
    justify-items: center;
}
/* Color choice layout */
.color_choice_container{
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    width: 400px;
    gap: 10px;
    padding: 5px;
}
.cp{
    padding: 5px;
    border-radius: 50%;
    height: 30px;
    border: 1px dotted grey;
}
#cp0{
    background: linear-gradient(
    to right,
    #f6d55c 0%,
    #f6d55c 50%,
    #219ebc 50%,
    #219ebc 100%)
}
#cp1{
    background: linear-gradient(
    to right,
    #fb8500 0%,
    #fb8500 50%,
    #219ebc 50%,
    #219ebc 100%)
}
#cp2{
    background: linear-gradient(
    to right,
    #ffb703 0%,
    #ffb703 50%,
    #023047 50%,
    #023047 100%)
}
#cp3{
    background: linear-gradient(
    to right,
    #84a59d 0%,
    #84a59d 50%,
    #f6bd60 50%,
    #f6bd60 100%)
}
#cp4{
    background: linear-gradient(
    to right,
    #2a9d8f 0%,
    #2a9d8f 50%,
    #e76f51 50%,
    #e76f51 100%)
}
#cp5{
    background: linear-gradient(
    to right,
    #ff006e 0%,
    #ff006e 50%,
    #3a86ff 50%,
    #3a86ff 100%)
}
#cp6{
    background: linear-gradient(
    to right,
    #e5989b 0%,
    #e5989b 50%,
    #6d6875 50%,
    #6d6875 100%)
}
#cp7{
    background: linear-gradient(
    to right,
    #d00000 0%,
    #d00000 50%,
    #001219 50%,
    #001219 100%)
}
/* Grid layout */
.grid-container {
    justify-self: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 400px;
    width: 400px;   
    gap: 3px;
    background-color: white;
    border: #4c4c4c 1px dotted;
    border-radius: 5%;
    padding: 15px;
}
.grid-item {
    background-color: white;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 15%;

}

/* Button layout */
.button_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    width: 210px;
    gap: 20px;
    padding: 5px;
    justify-self: center;
}
#left_button {
    background-color: #219ebc;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    
}
#right_button {
    background-color: #f6d55c;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
