/* HTML body layout */
.text{
    color: #4c4c4c; font-family: 'Lato', sans-serif; font-size: 40px; font-weight: 200; line-height: 58px; margin: 0 0 20px;
}
html {
    background-color: white;
    /* aligning the everything in the center of the body:*/
    display: grid;
    justify-items: center;
}
.all {
    display: grid;
    justify-items: center;
}

/* Grid layout */
.grid-container {
    justify-self: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 400px;
    width: 400px;   
    gap: 5px;
    background-color: white;
    border: #4c4c4c 1px dotted;
    border-radius: 5%;
    padding: 15px;
}
.grid-item {
    background-color: white;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 15%;

}

/* Button layout */
.button_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    width: 210px;
    gap: 20px;
    padding: 5px;
    justify-self: center;
}
#blue {
    background-color: #219ebc;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
#yellow {
    background-color: #f6d55c;
    border-radius: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}
